body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d2529e3;
  color: rgb(3, 3, 3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card.anime .btn {
  bottom: 1.5rem;
  max-width: 80%;
}

.anime-card-h {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .card-container {
    margin-bottom: 2rem;
  }
}