body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d2529e3;
  color: rgb(3, 3, 3);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  text-decoration: none;
}

 .mini-footer {
  background:#192027;
  text-align:center;
  padding:32px 0;
 }
 .mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
 }
 .mini-footer p a {
  color:#5867dd
 }
 .mini-footer p a:hover {
  color:#34bfa3
 }
 